

// Cores
$cor-primaria: #e7693a;
$cor-inicio: #f88b37;
$cor-fim: #d3423d;
$cor-degrade: linear-gradient(90deg, rgba(248,139,55,1) 0%, rgba(211,66,61,1) 100%);
$cor-branca: #fff;
$cor-preta: #000;
$fundo-preto-transparencia: rgba(24, 23, 22, .4);

// Fontes
$font-titulo: "ColaborateThinRegular", Arial, sans-serif;
$font-principal: Arial, Verdana, sans-serif;
