<section>
  <div class="titulo-programacao">
    <div class="container">

      <h1>Programação da Unida</h1>
    </div>
  </div>

  <div class="programacao">
    <div class="colunas">
      <h2>Começando com Deus</h2>
      <p>segunda-feira</p>
      <span><i class="bi bi bi-check-all"></i> 8h - Presencial</span>
    </div>

    <div class="colunas meio">
      <h2>Familias em oração</h2>
      <p>segunda-feira</p>
      <span><i class="bi bi bi-check-all"></i> 20h - Encontro online</span>
    </div>

    <div class="colunas">
      <h2>Culto</h2>
      <p>domingo</p>
      <span><i class="bi bi bi-check-all"></i> 9h45 - Oração</span><br>
      <span><i class="bi bi bi-check-all"></i> 10h30 - Celebração </span>
    </div>
  </div>



  <div class="programacao">
    <div class="colunas meio">
      <h2>Unidão Parque</h2>
      <p>sábado</p>
      <span><i class="bi bi bi-check-all"></i>14h - Tragam seus teens para participarem desse encotro especial </span>
    </div>

    <div class="colunas">
      <h2>Encontro de casais</h2>
      <p>sábado</p>
      <span><i class="bi bi bi-check-all"></i> 19h30 - Todos os casais</span>
    </div>

    <div class="colunas meio">
      <h2>Batismo</h2>
      <p>domingo</p>
      <span><i class="bi bi bi-check-all"></i> Aulas para o batismo, procurar a Miss Marisa e Pb Wilson</span><br>
    </div>
  </div>


  <div class="programacao">

    <div class="colunas">

    </div>
    <div class="colunas meio">
      <h2>Estudo Bíblico</h2>
      <p>quinta-feira</p>
      <span><i class="bi bi bi-check-all"></i> Mais informações com o Pb Lino</span>
    </div>
    <div class="colunas">

    </div>
  </div>
</section>
