<section>
  <div class="titulo-programacao">
    <div class="container">
      <h1>{{ idiomaEN() ? 'Unida Programming' : 'Programação Unida' }}</h1>
    </div>
  </div>

  <div class="programacao container">
    <div class="segunda card">
      <div class="transparencia">
        <h2>{{ idiomaEN() ? 'Monday' : 'Segunda-feira' }}</h2>
        <ul>
          <li> 
            <span class="horario">{{ idiomaEN() ? '8AM Starting with God' : '8h Começando com Deus' }}</span> 
          <br>
          <span>{{ idiomaEN() ? 'In Person' : 'Encontro Presencial' }}</span>
          </li>
          <li> 
            <span class="horario">{{ idiomaEN() ? '8PM Families in Prayer' : '20h Famílias em Oração' }}</span>
          <br>
          <span>Online</span>
          <span> 
            <i class="bi bi-youtube"></i>
          </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="card domingo">
      <div class="transparencia">      
      <h2>{{ idiomaEN() ? 'Sunday' : 'Domingo' }}</h2>
        <ul>
          <li> 
            <span class="horario">{{ idiomaEN() ? '9am Baptism Class' : '9h Aula de Batismo' }}</span> 
          <br>
          <span>{{ idiomaEN() ? 'In Person' : 'Encontro Presencial' }}</span>
          </li>
          <li> 
            <span class="horario">{{ idiomaEN() ? '10:30am Families in Prayer' : '10h30 Famílias em Oração' }}</span>
          <br>
          <span>{{ idiomaEN() ? 'In Person and Online' : 'Encontro Presencial e Online' }}</span>
          <span> 
            <i class="bi bi-youtube"></i>
          </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="card festecristo">
      <div class="transparencia">
        <h2>IV Feste Cristo</h2>
        <ul>
          <li> 
            <span class="horario">29 de Novembro às 14h</span> 
          <br>
          <span>Garanta seu ingresso</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="card teens">
      <div class="transparencia">
        <h2>Unidão Teens</h2>
        <ul>
          <li> 
            <span class="horario">13 de Dezembro às 9h</span> 
          <br>
          <span>Incrições com os líderes</span>
          </li>
        </ul>
      </div>
    </div>

  </div>

</section>
