.titulo-programacao {
  text-align: center;
  padding: 30px 0 0;
  h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 0px #D33F3E, -1px 1px 0px #D33F3E, -1px -1px 0px #D33F3E, 1px -1px 0px #D33F3E;
    color: #fff;
    font-weight: bolder;
  }
}

.programacao {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px 0px;
  .segunda {
    background-image: url("./../../../assets/programacao/biblia-maos.png")!important;
  }
  .domingo {
    background-image: url("./../../../assets/programacao/domingo.jpg")!important;
  }
  .festecristo {
    background-image: url("./../../../assets/programacao/festecristo.png")!important;
  }
  .teens {
    background-image: url("./../../../assets/ministerios/teens.png")!important;
    background-position: top !important;
  }
  .card {
    display: flex;
    height: auto;  
    background: #f3f3f3;
    text-align: center;
    width: calc((100% / 2) - 2rem);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    .transparencia {
      background-color: rgba(24, 23, 22, 0.6); 
      padding: 20px;
      border-radius: 15px;
      h2 {
      font-size: 42px;
      color: #fff;
      font-weight: bold;
      }
      ul {
        list-style-type: none;
        li {
          padding: 20px 0;
          font-size: 22px;
          color: #fff;
          .horario {
            font-weight: 500;
          }
          span {
            i {
              margin-left: 6px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .programacao {
    flex-direction: column;
    padding: 10px;
    .card {
      width: 100%;
    }
  }
}