<section class="fundamentos-fe">
  <div class="container">
    <h2>
      Fundamentos da fé
    </h2>

    <p>A nossa fé sustenta algumas convicções que originam nossa doutrina. Conheça a verdade que orienta a direção de nossa comunidade.</p>

    <p class="centro-texto">Cremos…</p>

    <ul>
      <li>Em Deus, criador e sustentador de todas as coisas, imanente no Universo e do mesmo transcendente, e Pai de todos os homens;</li>
      <li>Em Jesus Cristo, Deus manifesto na carne, nosso guia e exemplo de santidade, humildade e amor, redentor e salvador do mundo;</li>
      <li>No Espírito Santo, Deus presente conosco, consolador, providenciando direção, conforto e força para nossas vidas, e que é, na realidade, o selo para a redenção;</li>
      <li>Que há três pessoas na divindade: o Pai, o Filho e o Espírito Santo, indivisíveis em sua essência, iguais em poder e glória;</li>
      <li>Que na pessoa de Nosso Senhor Jesus Cristo acham-se unidas a natureza humana e a divina, de modo que ele é verdadeiro Deus e verdadeiro homem;</li>
      <li>Que nossos primeiros pais foram criados em estado de inocência, e por sua desobediência, porém, perderam sua pureza e felicidade e, em consequência de sua queda, todos os homens se tornaram pecadores, expostos justamente à ira de Deus;</li>
      <li>Que o Senhor Jesus Cristo tem feito, pelo seu sofrimento e morte, expiação pelos pecados de todo o mundo, de sorte que todo aquele que quiser pode ser salvo;</li>
      <li>No perdão dos pecados, na vida de amor e oração e na graça suficiente para todas as nossas necessidades;</li>
      <li>Na Palavra de Deus na sua integridade, como regra de fé e prática;</li>
      <li>Que no arrependimento para com Deus, a fé em Nosso Senhor Jesus Cristo e a regeneração pelo Espírito Santo são necessários à salvação dos homens;</li>
      <li>Que somos justificados pela graça, mediante a fé em Nosso Senhor Jesus Cristo e que todo aquele que crê tem o testemunho de si mesmo;</li>
      <li>Que é privilégio de todos os crentes serem inteiramente santificados, e que o espírito, alma e corpo podem ser preservados sem mancha, até a vinda de Nosso Senhor Jesus Cristo;</li>
      <li>Na imortalidade da alma, na ressurreição do corpo no juízo final, na felicidade eterna dos justos e no castigo dos maus;</li>
      <li>Ser o batismo por imersão o cumprimento da justiça de Deus e significa o sepultamento da vida de pecados e o surgimento de uma nova vida em Deus;</li>
      <li>No batismo bíblico efetuado por imersão do corpo inteiro uma só vez em águas, e em nome do Pai, do Filho e do Espírito Santo, conforme determinou o Senhor Jesus Cristo;</li>
      <li>Na atualidade do batismo no Espírito Santo, como promessa visível a todos os que creem;</li>
      <li>Na cura, libertação de todos os males pelo poder da fé e que os sinais acompanham os que creem e que os mesmos são operados mediante a oração da fé no nome do Senhor Jesus Cristo;</li>
      <li>Na igreja como Congregação de todos que se unem ao Senhor, para adoração e serviço;</li>
      <li>No reino de Deus, como governo divino, na sociedade humana e na fraternidade dos homens sob a paternidade de Deus;</li>
      <li>No arrebatamento da igreja, na ressurreição dos mortos e na segunda vinda de Nosso Senhor Jesus;</li>
      <li>No triunfo final da justiça e na vida eterna.</li>
    </ul>

    <p class="centro-texto">Amém!</p>
  </div>
</section>
