.fale-conosco {
  background-image: url('./../../../assets/frente-unida.png');
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 180px);
}

@media screen and (max-width: 700px) {
  .fale-conosco {
    background-attachment: scroll;
    height: calc(100vh - 144px);
  }
}
