.nossa-historia {
  h2 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 0px #D33F3E, -1px 1px 0px #D33F3E, -1px -1px 0px #D33F3E, 1px -1px 0px #D33F3E;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 32px;
  }
}

.miniatura {
  img {
    width: 100%;
    margin-bottom: 30px;
  }
}
