<section class="nossa-historia">
  <h2>Nossa História</h2>
<p>
  A nossa igreja foi fundada em 31 de dezembro de 1958, na residência dos
  irmãos José Espinosa e Carmem Alavêz Espinosa, localizada na Rua Areião,
  25 – Tatuapé/SP – SP, sendo seu nome de fundação Igreja Cristã Evangélica
  Unida. O primeiro presidente foi o Pr Eurico de Almeida Vieira.
</p>
<p>
  Em 19 de abril de 1959 foi inaugurado o primeiro templo, localizado à Rua
  Doraliza, 421 – Vila Carrão/SP – SP e em 1962 foi criado o fundo para
  aquisição e construção do templo próprio, onde nos reunimos até hoje.
</p>
<p>
  Em julho de 1963 aconteceu a fusão da Igreja Cristã Evangélica Unida
  (dirigida pelos pastores Francisco Cardoso e Luiz Reynaldo Ferreira),
  Igreja Pentecostal de Evangelização e Cura Divina (dirigida pelos pastores
  Simão Moreno, Leonel da Silva, Isaias Spassapan, Samuel Spassapan, José
  Maria Aires e Valter Marques de Melo) e a Igreja Evangélica Pentecostal do
  Povo (dirigida pelo missionário Luiz Schiliró, pastores José Spassapan,
  Vitoriano de Souza e José Candido Pereira).
</p>
<p>
  Na ocasião da fusão, a Igreja de Vila Carrão tinha as seguintes
  congregações: Penha, Vila Santo Estevam, Água Rasa, Vila Diva, Vila Buenos
  Aires, Guaianazes e Vila Prudente.
</p>
<p>
  A fusão resultou na criação da Igreja Evangélica Pentecostal Unida, tendo
  na direção o missionário Luiz Schiliró e o pastor Samuel Spassapan.
  Posteriormente, o nome foi alterado para Igreja Unida e criada a Convenção
  Unida Internacional, que agrega todas as igrejas de nossa denominação,
  dirigida, atualmente, pelo pastor Leonardo Meyer.
</p>
<p>
  Em 4 de outubro de 1964 foi inaugurado o templo atual da Igreja Unida de
  Vila Carrão, tendo por presidente o pastor Francisco Cardoso. Também eram
  vinculadas à Unida de Vila Carrão, as congregações de Parque Sevilha,
  Utinga e Ipiranga.
</p>
<p>
  Em 2018 a Igreja Unida de Vila Carrão comemorou 60 anos. Nesse período
  cumpriu sua missão de pregar o evangelho de Jesus a todos. Nossos pastores
  nesses primeiros 60 anos:
</p>
</section>


<section class="miniatura">
  <img src="./../../../../../assets/miniatura-antiga.png" alt="">
</section>
