<section class="valores">
  <div class="container">
    <h2>
      Missão:
    </h2>
    <p>Manifestar, quer por obras ou palavras, o reino de Deus em todas as dimensões da nossa vida e em todos os lugares, levando outros a amarem Jesus</p>

    <h2>
      Visão:
    </h2>
    <p>Buscamos ser uma igreja que a ama a Deus acima de todas as coisas, desejando ver esse amor manifesto no culto, na vida e no serviço ao próximo</p>

    <button routerLink="/quem-somos" class="btn">Nossa história</button>
  </div>
</section>
