<section class="banner">
  <div class="slideshow-container">
    <h1 class="animate__animated animate__bounceInLeft">{{ idiomaEN ? 'Church Unida' : 'Igreja Unida' }}</h1>
    <div class="mySlides" >
      <h2 class="description texto-gradiente">
        {{ idiomaEN ? 'Connected with People' :  'Conectados com Pessoas' }}
      </h2>
    </div>
    <div class="mySlides">
      <h2 class="description texto-gradiente">
        {{ idiomaEN ? 'Ahining the Light of JESUS' : 'Brilhando a Luz de JESUS' }}
      </h2>
    </div>
  </div>

</section>
