<section class="carousel">
      <!-- <div class="container">
            <div class="slideshow-container-adoracao">
                  <div class="texto">
                        <h2 class="description texto-gradiente">
                              Adoração
                        </h2>
                  </div>
                  <div class="texto">
                        <h2 class="description texto-gradiente">
                              Comunhão
                        </h2>
                  </div>
                  <div class="texto">
                        <h2 class="description texto-gradiente">
                              Missão
                        </h2>
                  </div>
            </div>
      </div> -->
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide" *ngFor=" let slide of slides">
                  <img src="{{ slide.img }}" alt="" class="img-style">
            </div>
            
      </ngx-slick-carousel>

</section>
