
<section class="coluna-00">
    <h2>Linha do tempo</h2>
  <div class="content">
    <div class="box">
      <h4>1958 - 1960</h4>
      <h3>Eurico de Almeida Vieira</h3>
    </div>

    <div class="box">
      <h4>1961 - 1969</h4>
      <h3>Francisco Cardoso</h3>
    </div>

    <div class="box">
      <h4>1970 - 1973</h4>
      <h3>Clides Torelli</h3>
    </div>
    <div class="box">
      <h4>1973 - 1973</h4>
      <h3>Antonio Saldanha</h3>
    </div>
    <div class="box">
      <h4>1974/1977</h4>
      <h3>Valdecir Sandrin</h3>
    </div>
    <div class="box">
      <h4>1977 - 1979</h4>
      <h3>José Spazzapan</h3>
    </div>
    <div class="box">
      <h4>1979 - 1981</h4>
      <h3>Clides Torelli</h3>
    </div>
    <div class="box">
      <h4>1981 - 1983</h4>
      <h3>Valdecir Sandrin</h3>
    </div>
    <div class="box">
      <h4>1983 - 1987</h4>
      <h3>José Maria Ayres</h3>
    </div>
    <div class="box">
      <h4>1987 - 1987</h4>
      <h3>Luiz Reynaldo Ferreira</h3>
    </div>
    <div class="box">
      <h4>1987 - 1989</h4>
      <h3>José Gomes da Silva</h3>
    </div>
    <div class="box">
      <h4>1989 - 1992</h4>
      <h3>Getulio de Souza Vargas</h3>
    </div>
    <div class="box">
      <h4>1992 - 1992</h4>
      <h3>João Batista Torres Neto</h3>
    </div>
    <div class="box">
      <h4>1992 - 2003</h4>
      <h3>Getulio de Souza Vargas</h3>
    </div>
    <div class="box">
      <h4>2003 - Pastor em exercício</h4>
      <h3>Eder de Souza Vargas</h3>
    </div>
  </div>
</section>

