<div class="contact">
  <div class="container">
    <div class="contact__title">
      <h2>Entre em Contato</h2>
  </div>
    <div class="contact__filds">
      <div class="contact__filds--line col-md-8">
          <label class="label" for="name">Nome</label>
          <input class="text-input" onkeyup="this.value=this.value.replace(/[<>$¨¨!@#1234567890*{}]/g,'')"
              id="name" name="name" autocomplete="off" placeholder="Nome" type="text">
      </div>

      <div class="contact__filds--line col-md-8">
          <label class="label" for="email">E-mail</label>
          <input class="text-input" id="email" name="email" autocomplete="off" placeholder="email"
              type="email">
      </div>

      <div class="contact__filds--line col-md-8">
          <label class="label" for="mensagem">Mensagem</label>
          <textarea class="text-input txt-mensagem" placeholder="Mensagem" autocomplete="off" id="text_mensagem"
              rows="3" onkeyup="this.value=this.value.replace(/[<>$¨¨#*{}]/g,'')"></textarea>
      </div>

      <div class="button">
          <button class="button__btn">Enviar</button>
      </div>
    </div>
  </div>
</div>
