@import "./../../../app/styles/variables.scss";

.fale-conosco {
  background-image: url('./../../../assets/frente-unida.png');
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 700px) {
  .fale-conosco {
    background-attachment: scroll;
  }
}

// .ofertas {
//   .banner {
//     background-image: url('./../../../assets/dizimo-banner.png');
//     position: relative;
//     background-position: top;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//     height: calc(100vh - 121px);
//     .transparencia {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       height: 100%;
//       .pix {
//         background-color: rgba(24, 23, 22, 0.6);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         font-size: 60px;
//         text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff, 1px -1px 0px #fff;
//         color: #000;
//         font-weight: bolder;
//         line-height: 49px;
//         padding: 15px;
//       }
//     }
//   }
// }
