.missao-visao-valores {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 999;
  gap: 10px;
  margin-top: -80px;
  .item {
    width: 350px;
    height: 650px;
    background: #f3f3f3;
    padding: 20px;
    text-align: center;
    .icone {
      font-size: 2rem;
      font-weight: bolder;
      color: #d23e3e;
    }
    h2 {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: #d23e3e;
    }
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    .btn {
      background: linear-gradient(90deg, rgba(248,139,70,1) 0%, rgba(228,101,66,1) 35%, rgba(210,62,62,1) 100%);
      color: #fff;
      padding: 15px 30px;
      border: solid 1px #fff;
      border-radius: 4px;
      transition: all 0.3s;
      &:hover {
          color: #000;
          border: none;
          transform: translate(0, -4px);
          box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
      }
    }

  }
  .item2 {
    margin-top: -50px;
    padding-top: 67px;
    height: 750px;
  }
}

@media screen and (max-width: 768px) {
  .missao-visao-valores {
    margin-top: -75px;
    .item {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .missao-visao-valores {
    flex-direction: column;
    align-items: center;
    margin-top: -76px;
    margin-bottom: 30px;
  }
  .item {
    width: 240px;
    margin-bottom: 60px;
    border-radius: 10px;
  }
  .item2 {
    width: 240px;
    height: inherit;
    margin-top: 0!important;
    padding-top: 20px!important;
  }
}
