.segundo-header {
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 88px;
  padding-bottom: 10px;
  &__idioma, &__reder-sociais {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      padding: 5px;
      img {
        margin-right: 6px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .segundo-header {
    &__idioma, &__reder-sociais {
      a, button {
        padding: 5px;
        span {
          font-size: 12px;
        }
      }
     }
  }
}
