<section class="segundo-header">
  <div class="container d-flex justify-content-between">
    <div class="segundo-header__reder-sociais animate__animated animate__slideInLeft">
      <a href="https://www.instagram.com/iunidavilacarrao/" target="_blank">
        <img src="assets/icones/insta.png">
      </a>
      <a href="https://www.facebook.com/iunidavilacarrao" target="_blank" >
        <img src="assets/icones/facebook.png">
      </a>
      <a href="https://api.whatsapp.com/send?phone=+551194530-8006&text=Olá%21%20Seja%20Bem%20Vindo." target="_blank">
        <img src="assets/icones/wpp.png">
      </a>
      <a href="mailto:contato@iunida.com">
        <img src="assets/icones/mail.png">
      </a>
    </div>


    <div class="segundo-header__idioma animate__animated animate__slideInRight">
      <button
      (click)="setIdioma(false)"
      class="segundo-header__idioma btn"
      [style.background-color]="!idiomaEN ? 'rgba(24, 23, 22, 0.3)' : ''"
      [style.color]="!idiomaEN ? '#fff' : '#000'"
      >
        <img src="assets/idiomas/bandeira-PT.jpg">
        <span>&nbsp;Português</span>
      </button>

      <button
      (click)="setIdioma(true)"
      class="segundo-header__idioma btn"
      [style.background-color]="idiomaEN ? 'rgba(24, 23, 22, 0.3)' : ''"
      [style.color]="idiomaEN ? '#fff' : '#000'"
      >
        <img src="assets/idiomas/bandeira-ENG.jpg">
        <span span>&nbsp;English</span>
      </button>
    </div>
  </div>
</section>
