<section class="segundo-header">
  <div class="container d-flex justify-content-between">
    <div class="segundo-header__reder-sociais animate__animated animate__slideInLeft">

      <a href="https://www.instagram.com/iunidavilacarrao/" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.facebook.com/iunidavilacarrao" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5511945308006" target="_blank">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="https://www.google.com/maps/place/Igreja+Unida+De+Vila+Carrao/@-23.5453405,-46.535092,20z/data=!4m6!3m5!1s0x94ce5e0cc4ed43f1:0xbec154370d7246f6!8m2!3d-23.5453891!4d-46.5347916!16s%2Fg%2F1wh4g_12?entry=ttu&g_ep=EgoyMDI0MTAyMS4xIKXMDSoASAFQAw%3D%3D" target="_blank">
        <i class="bi bi-geo-alt"></i>
      </a>
    </div>

    <div class="segundo-header__idioma animate__animated animate__slideInRight">
      <button
      (click)="setIdioma(false)"
      class="segundo-header__idioma btn"
      [style.background-color]="!idiomaEN ? 'rgba(24, 23, 22, 0.3)' : ''"
      [style.color]="!idiomaEN ? '#fff' : '#000'"
      >
        <img src="assets/idiomas/bandeira-PT.jpg">
        <span>&nbsp;Português</span>
      </button>

      <button
      (click)="setIdioma(true)"
      class="segundo-header__idioma btn"
      [style.background-color]="idiomaEN ? 'rgba(24, 23, 22, 0.3)' : ''"
      [style.color]="idiomaEN ? '#fff' : '#000'"
      >
        <img src="assets/idiomas/bandeira-ENG.jpg">
        <span span>&nbsp;English</span>
      </button>
    </div>
  </div>
</section>
