.section-quem-somos {
  padding: 60px 0;
    .descricao {
      font-family: "Rubik Wet Paint", system-ui;
      font-size: 3rem;
      color: #d23e3e;
      text-align: center;
      margin-bottom: 30px;
  }
}
