<footer>
  <div class="container d-flex justify-content-around responsivo">
    <p>{{ idiomaEN() ? 'Unida Church - Vila Carrão' : 'Igreja Unida Vila Carrão' }}</p>
    <a href="https://www.google.com/maps/place/Igreja+Unida+De+Vila+Carrao/@-23.5453405,-46.535092,20z/data=!4m6!3m5!1s0x94ce5e0cc4ed43f1:0xbec154370d7246f6!8m2!3d-23.5453891!4d-46.5347916!16s%2Fg%2F1wh4g_12?entry=ttu&g_ep=EgoyMDI0MTAyMS4xIKXMDSoASAFQAw%3D%3D" target="_blank">
      <i class="bi bi-geo-alt"></i>
      {{ idiomaEN() ? '496 Rua Gaspar de Lemos - São Paulo SP' : 'Rua Gaspar de Lemos, 496 - São Paulo SP' }}

    </a>
    <p>{{ idiomaEN() ? 'All rights reserved © 2024' : 'Todos os direitos reservados © 2024' }}</p>
  </div>
</footer>
