<section>
  <div class="container">
    <div class="titulo">
      <h1>Ministerios</h1>
    </div>
    <div class="ministerios">
      <div class="foto">
          <h2>Crianças</h2>
          <img src="./assets/ministerio-crianca.png" alt="">
      </div>
      <div class="foto">
          <h2>Jovens</h2>
          <img src="./assets/jovens.png" alt="">
      </div>
  </div>

  <div class="ministerios">
    <div class="foto">
        <h2>Teens</h2>
        <img src="./assets/teens.png" alt="">
    </div>
    <div class="jovens foto">
        <h2>Louvor</h2>
        <img src="./assets/louvor.png" alt="">
    </div>
</div>
</div>
</section>
