.titulo {
  text-align: center;
  padding: 20px 0;
  h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 0px #D33F3E, -1px 1px 0px #D33F3E, -1px -1px 0px #D33F3E, 1px -1px 0px #D33F3E;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 12px;
  }
}
.ministerios {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px;
  .foto {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    width: 47%;
    text-align: center;
    h2 {
      font-size: 2rem;
      text-shadow: 1px 1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000;
      color: #fff;
      font-weight: bolder;
      margin-bottom: 12px;
    }
    img {
      width: 100%;
      height: 400px;
      border-radius: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .ministerios {
    display: block;
    .foto {
      width: 100%;
      margin-bottom: 20px;
      img {
        height: auto;
      }
    }
  }
}
