<section class="avisos" >
  <div class="container">
   <div class="avisos__titulos">
     <h2>{{ idiomaEN ? 'Stay in the know' : 'Fique por dentro' }}</h2>
     <h3>{{ idiomaEN ? 'of the main programs' : 'das principais programações' }}</h3>
   </div>

   <a href="https://www.youtube.com/@iunidatv2281/streams" target="_blank"
   class="d-flex justify-content-between"
   style="cursor: pointer;"
   >
    <div class="avisos__capa item1">
      <div class="avisos__capa__conteudo">
        <h2>{{ idiomaEN ? 'Monday' : 'Segunda' }}</h2>
        <p>
          <i class="bi bi bi-check-all"></i>
          {{ idiomaEN ? 'At 8am Starting with God' : '8h Começando com Deus' }}
        </p>
        <span>{{ idiomaEN ? 'Presential' : 'Encontro presencial' }}</span>
        <br>
        <p>
          <i class="bi bi bi-check-all"></i>
          {{ idiomaEN ? '8pm Families in Prayer' : '20h Famílias em Oração' }}

        </p>
        <span> {{ idiomaEN ? 'Online Meeting' : 'Encontro Online' }}
          <i class="bi bi-youtube"></i>
          <i class="bi bi-facebook"></i>
        </span>
      </div>
    </div>


    <div class="avisos__capa item3">
      <div class="avisos__capa__conteudo">
        <h2>{{ idiomaEN ? 'Sunday' : 'Domingo' }}</h2>

        <p>
          <i class="bi bi-check-all"></i>
          {{ idiomaEN ? '9:45am Prayer' : '9h45 Oração' }}
        </p>
        <br>
        <p>
          <i class="bi bi-check-all"></i>
          {{ idiomaEN ? '10:30am Celebration Service' : '10h30 Culto de Celebração' }}

          <br>
          {{ idiomaEN ? 'On the 2nd Sunday of the month we celebrate Holy Supper' : 'No 2° domingo do mês celebramos a Santa Ceia' }}

        </p>
      </div>
    </div>

    <div class="avisos__capa item2">
      <div class="avisos__capa__conteudo">
        <h2>{{ idiomaEN ? 'Unidão Teens' : 'Unidão Teens' }}</h2>
        <span></span>
        <p>
          <i class="bi bi-check-all"></i>
          {{ idiomaEN ? '13 de Dezembro às 9h' : '13 de Dezembro às 9h' }}
        </p>
      </div>
    </div>
   </a>
  </div>
 </section>
