<section class="avisos" >
  <div class="container">
   <div class="avisos__titulos">
     <h2>Fique por dentro</h2>
     <h3>das principais programação</h3>
   </div>

   <a href="https://www.youtube.com/@iunidatv2281/streams" target="_blank"
   class="d-flex justify-content-between"
   style="cursor: pointer;"
   >
    <div class="avisos__capa item1">
      <div class="avisos__capa__conteudo">
        <h2>Começando com Deus</h2>
        <p>
          <i class="bi bi bi-check-all"></i>
          Segunda às 8H
        </p>
      </div>
    </div>
    <div class="avisos__capa item2">
      <div class="avisos__capa__conteudo">
        <h2>Famílias em oração</h2>
        <p>
          <i class="bi bi-check-all"></i>
          Segunda às 20H
        </p>
      </div>
    </div>
    <div class="avisos__capa item3">
      <div class="avisos__capa__conteudo">
        <h2>Domingo</h2>

        <p>
          <i class="bi bi-check-all"></i>
          Oração as 9h45
        </p>
        <p>
          <i class="bi bi-check-all"></i>
          Celebração as 10h45
        </p>
      </div>
    </div>
   </a>
  </div>
 </section>
