<section class="avisos" >
  <div class="container">
   <div class="avisos__titulos">
     <h2>Fique por dentro</h2>
     <h3>das principais programações</h3>
   </div>

   <a href="https://www.youtube.com/@iunidatv2281/streams" target="_blank"
   class="d-flex justify-content-between"
   style="cursor: pointer;"
   >
    <div class="avisos__capa item1">
      <div class="avisos__capa__conteudo">
        <h2>segunda</h2>
        <p>
          <i class="bi bi bi-check-all"></i>
          às 8h Começando com Deus
        </p>
        <span>Encontro presencial</span>
        <br>
        <p>
          <i class="bi bi bi-check-all"></i>
          às 20h Famílias em Oração
        </p>
        <span> Encontro Online
          <i class="bi bi-youtube"></i>
          <i class="bi bi-facebook"></i>
        </span>
      </div>
    </div>


    <div class="avisos__capa item3">
      <div class="avisos__capa__conteudo">
        <h2>domingo</h2>

        <p>
          <i class="bi bi-check-all"></i>
          às 9h45 Oração
        </p>
        <br>
        <p>
          <i class="bi bi-check-all"></i>
          às 10h30 Culto de Celebração
          <br>
          No 2° domingo do mês celebramos a Santa Ceia
        </p>
      </div>
    </div>

    <div class="avisos__capa item2">
      <div class="avisos__capa__conteudo">
        <h2>sábado <br> Aviva Jovem </h2>
        <span></span>
        <p>
          <i class="bi bi-check-all"></i>
          às 19h30, no último sábado do mês
        </p>
      </div>
    </div>
   </a>
  </div>
 </section>
